<div class="row">
    <div class="col-md-3 col-m-1">
        <div class="card card-outline card-primary h-100">
            <h3 class="card-header">
                {{#str}}create_meeting_notes, local_fakesmarts{{/str}}
            </h3>
            <div class="card-body">
                <p>
                    {{#str}}create_meeting_notes_help, local_fakesmarts{{/str}}
                </p>

            </div>
            <div class="card-footer">
                <a href="{{config.wwwroot}}/local/fakesmarts/minutes_master/" class="btn btn-outline-primary btn-sm float-right">
                    {{#str}}take_me_there, local_fakesmarts{{/str}}
                </a>
        </div>
    </div>
</div>

</div>