<div  class="row">
    <div class="col">
        <div id="fakesmarts-bot-container">
            <div id="fakesmarts-conversation">

            </div>
            <div id="fakemarts-input-container">
                <input type="hidden" id="fakesmarts-chat-id" value="{{chat_id}}">
                <input type="text" id="user-prompt" class="form-control"
                       placeholder="{{#str}}ask_a_question, local_fakesmarts{{/str}}">
                <button
                        id="submit-question"
                        class="btn btn-primary mt-2"
                        data-bot_id="{{bot_id}}"
                >{{#str}}submit, local_fakesmarts{{/str}}
                </button>
            </div>
        </div>
    </div>
    <div class="col">
            {{> local_fakesmarts/test_bot_statistics}}
        </div>
</div>