<div  class="row">
    <div class="col">
        <h3>{{#str}}paste_text, local_fakesmarts{{/str}}</h3>
        <textarea id="fakesmarts-test-input" style="width: 100%;" rows="20"></textarea>
        <div id="fakesmarts-bot-container">

            <div id="fakemarts-input-container">
                <input type="hidden" id="fakesmarts-chat-id" value="0">
                <textarea id="user-prompt" class="form-control" ></textarea>
                <button
                        id="submit-question"
                        class="btn btn-primary mt-2"
                        data-bot_id="{{bot_id}}"
                >{{#str}}submit, local_fakesmarts{{/str}}
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        {{> local_fakesmarts/test_bot_statistics}}
        <div class="card mt-3">
            <h3 class="card-header">
                {{#str}}response, local_fakesmarts{{/str}}
            </h3>
            <div class="card-body">
                <div id="fakesmarts-conversation">
                </div>
            </div>
        </div>
    </div>
</div>


