<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="index.php" class="btn btn-outline-primary">
                {{#str}}bots, local_fakesmarts{{/str}}
                </a>
                {{#use_indexing_server}}
                <a href="auto_test.php?id={{bot_id}}" class="btn btn-outline-primary">
                    {{#str}}auto_test, local_fakesmarts{{/str}}
                </a>
                {{/use_indexing_server}}
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <h3 class="card-header">
                {{name}}
            </h3>
            <div class="card-body">
                {{#use_indexing_server}}
                    {{> local_fakesmarts/indexing_server_test}}
                {{/use_indexing_server}}
                {{^use_indexing_server}}
                    {{> local_fakesmarts/none_indexing_server_test}}
                {{/use_indexing_server}}

            </div>
        </div>
    </div>
</div>