<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="index.php" class="btn btn-outline-primary">
                {{#str}}bots, local_fakesmarts{{/str}}
                </a>
                <a href="auto_test.php?id={{bot_id}}" class="btn btn-outline-primary">
                    {{#str}}auto_test, local_fakesmarts{{/str}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <h3 class="card-header">
                {{#str}}test_area, local_fakesmarts{{/str}} - {{name}}
            </h3>
            <div class="card-body">
                <div id="fakesmarts-bot-container">
                    <div id="fakesmarts-conversation">

                    </div>
                    <div id="fakemarts-input-container">
                        <input type="text" id="user-prompt" class="form-control" placeholder="{{#str}}ask_a_question, local_fakesmarts{{/str}}">
                        <button
                                id="submit-question"
                                class="btn btn-primary mt-2"
                                data-bot_id="{{bot_id}}"
                        >{{#str}}submit, local_fakesmarts{{/str}}
                        </button>
                    </div>
                </div>
                <div>
                    Your call will use approximately <span id="token-count">{{number_of_tokens}} tokens at a cost of approximately ${{cost}}</span>
                </div>
            </div>
        </div>
    </div>
</div>