<h3>{{#str}}statistics, local_fakesmarts{{/str}}</h3>
<div id="test-results">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>{{#str}}prompt_tokens, local_fakesmarts{{/str}}</td>
            <td><div id="fakesmarts-prompt-tokens">0</div></td>
        </tr>
        <tr>
            <td>{{#str}}completion_tokens, local_fakesmarts{{/str}}</td>
            <td><div id="fakesmarts-completion-tokens">0</div></td>
        </tr>
        <tr>
            <td>{{#str}}total_tokens, local_fakesmarts{{/str}}</td>
            <td><div id="fakesmarts-total-tokens">0</div></td>
        </tr>
        <tr>
            <td>{{#str}}total_tokens, local_fakesmarts{{/str}}</td>
            <td><div id="fakesmarts-cost">$0.00</div></td>
        </tr>
        </tbody>
    </table>
</div>